# Created by .ignore support plugin (hsz.mobi)
### JupyterNotebooks template
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
Data/.ipynb_checkpoints/*
EDA/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

#Data
Data/reviews.csv.zip
Data/online_data/saved_models

#.idea
.idea


